/data/raw_data/
.DS_Store
.Rhistory
.Rproj.user
data/processed_data/beneficiarios_2015.csv
data/processed_data/beneficiarios_2016.csv
data/processed_data/beneficiarios_2017.csv
data/processed_data/beneficiarios_2018.csv
data/processed_data/beneficiarios_2019.csv
data/processed_data/beneficiarios_2020.csv
data/processed_data/beneficiarios_2021.csv
data/processed_data/beneficiarios_2022.csv
data/processed_data/beneficiarios_2023.csv
data/processed_data/beneficiarios_2024.csv
data/processed_data/beneficiarios_2015.parquet
data/processed_data/beneficiarios_2016.parquet
data/processed_data/beneficiarios_2017.parquet
data/processed_data/beneficiarios_2018.parquet
data/processed_data/beneficiarios_2019.parquet
data/processed_data/beneficiarios_2020.parquet
data/processed_data/beneficiarios_2021.parquet
data/processed_data/beneficiarios_2022.parquet
data/processed_data/beneficiarios_2023.parquet
data/processed_data/municipality_treatment.parquet
data/processed_data/national/beneficiaries_yearly/year=2015/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2016/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2017/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2018/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2019/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2020/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2021/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2022/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2023/part-0.parquet
data/processed_data/national/beneficiaries_yearly/year=2024/part-0.parquet
data/processed_data/national/beneficiarios_filtered_2015_2024.parquet
data/processed_data/national/municipality_treatment.parquet
data/processed_data/national/plan_market_shares.parquet
data/processed_data/national/reajustes_panel_final.parquet
data/processed_data/plan_market_shares.parquet
data/processed_data/plan_reajustes_avg.parquet
data/processed_data/reajustes_filtered/part-0.parquet
data/processed_data/beneficiarios/beneficiarios_2015.csv
data/processed_data/beneficiarios/beneficiarios_2015.parquet
data/processed_data/beneficiarios/beneficiarios_2016.csv
data/processed_data/beneficiarios/beneficiarios_2016.parquet
data/processed_data/beneficiarios/beneficiarios_2017.csv
data/processed_data/beneficiarios/beneficiarios_2017.parquet
data/processed_data/beneficiarios/beneficiarios_2018.csv
data/processed_data/beneficiarios/beneficiarios_2018.parquet
data/processed_data/beneficiarios/beneficiarios_2019.csv
data/processed_data/beneficiarios/beneficiarios_2019.parquet
data/processed_data/beneficiarios/beneficiarios_2020.csv
data/processed_data/beneficiarios/beneficiarios_2020.parquet
data/processed_data/beneficiarios/beneficiarios_2021.csv
data/processed_data/beneficiarios/beneficiarios_2021.parquet
data/processed_data/beneficiarios/beneficiarios_2022.csv
data/processed_data/beneficiarios/beneficiarios_2022.parquet
data/processed_data/beneficiarios/beneficiarios_2023.csv
data/processed_data/beneficiarios/beneficiarios_2023.parquet
data/processed_data/beneficiarios/beneficiarios_2024.csv
